/* Container */
.container {
  width: 340px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  border: 1px solid #e0e0e0;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}

/* Heading */
.container h3 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Image */
.container img {
  width: 300px;
  display: block;
  margin: auto;
  overflow-wrap: inherit;
}

/* Info Box */
.info-box {
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px;
  border: 1px solid #e0e0e0;
}

/* Individual Info Items */
.info-item {
  font-size: 15px;
  margin-bottom: 15px;
}

/* Description */
.description {
  font-size: 18px;
  margin-top: 20px;
  line-height: 1.5;
  text-align: justify;
}
